.header{
    
    position: sticky;
    top: 0;
    z-index: 2147483647;
    background-color: #fff;
    .top{
        
        margin-left: 40px;
        
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex: auto;
        overflow-x: hidden;
        
        .company{
            padding-top: 20px;
            padding-left: 10px;
            color: #2B2929;
            font-family: avenir-normal;
            font-size: 36px;
            font-style: normal;
            font-weight: 800;
            line-height: 101.1%; /* 36.396px */
        }
        .buttons{
            display: none;
            margin-bottom: 20px;
            display: flex;
            width: 1440px;
            padding: 20px;  
            flex-direction: row;
            justify-content: right;
              
            gap: 10px;
            .register{
                border-radius: 8px;
                background: #EF8329;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                //margin-left: 1000px;
                padding: 20px;
                font-family: avenir-normal;
                color: white;
            }
            .demo{
                border-radius: 8px;
                background: #EAECF0;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                padding: 20px;
                font-family: avenir-normal;
                

            }
        }
    }
   
}
.start-img-mobile{
    display: none;
}
.intro{
    // background: url("/assets/bgstart.png") no-repeat;
    // background-position: center;
    // background-size: cover;
    background-color: #FDFAF8;
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-top: 50px;
    padding-left: 100px;
    font-family: avenir-normal;
    .tagline1{
        font-family: avenir-normal;
        font-size: auto;
    }
    .tagline2{
        width: 950px;
        line-height: normal;
        font-size: 60px;
        font-family: avenir-bold;
    }
    
    .tagline3{
        color: #EF8329;
        font-size: 60px;
        font-family: avenir-bold;
    }
        
    .tagline4{
        font-size:20px;
        font-family:avenir-normal;
        width: 950px;
    }
        
    .tagline-buttons{
        display: none;
        flex-direction: row;
        flex: auto;
        .register{
            border-radius: 8px;
            background: #EF8329;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 20px;
            font-family: avenir-normal;
            color: white;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .demo{
            
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            background: #EAECF0;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 20px;
            font-family: avenir-normal;
        }
        

    }
}

.hiw{    
    
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: avenir-normal;
    align-items: center;
    background-image: url("/assets/hiwback.png") ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
    
    .hiw1{
        margin-top:75px;
        font-size: 40px;
        font-family: avenir-bold;
        color: #EF8329;
    }
    .images-hiw{
        
        position: static;
        justify-content: center;
        align-items: center;
        
        display: flex;
        flex: auto;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        margin-top: 20px;
        //gap: 150px;
        //margin-left: 75px;
        .img1{
            padding-left: 30px;
            padding-right: 100px;
        }

        .img2{
            padding-left: 40px;
            padding-right: 40px;
        }

        .img3{
            padding-left: 70px;
            padding-right: 0;
        }
        .col-desc{
            align-items: center;
            .inside-head{
        
                justify-content: center;
                display: flex;
                flex: auto;
                flex-direction: row;
                
                margin-left: 15px;
                .heading1{
                    color:#EF8329;
                    margin-left: 15px;
                    //margin-top: 65px;
                    font-family: avenir-bold;
                    font-size: 21px;
                }
                .heading2{
                    color:#EF8329;
                    margin-left: 150px;
                    //margin-top: 65px;
                    font-family: avenir-bold;
                    font-size: 21px;
                }
                .heading3{
                    color:#EF8329;
                    margin-left: 150px;
                    //margin-top: 65px;
                    font-family: avenir-bold;
                    font-size: 21px;
                }
                
        
            }
            .inside-desc{
                justify-content: center;
                display: flex;
                flex-direction: row;
                flex: auto;
                margin-top: 15px;
                .desc1{
                    color: #000;
                    text-align: center;
                    font-family: avenir-normal;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.5px;
                }
                .desc2{
                    margin-left: 70px;
                    color: #000;
                    text-align: center;
                    font-family: avenir-normal;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.5px;
                }
                .desc3{
                    margin-left: 100px;
                    color: #000;
                    text-align: center;
                    font-family: avenir-normal;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22.5px;
                }
            }
        }
    }
    .mobile-hiw{
        display: none;
    }
    
}
.mobile-features{display: none;}
.features{
    padding-top: 30px;
        display: flex;
        flex-direction: column;
        flex: auto;
        //background-image: url('/assets/features-mobile.svg');
        .fmtagline1{
            font-size: 40px;
            font-family: avenir-bold;
            text-align: center;
            color: #EF8329;
            
        }
        .fmtagline2{
            text-align: center;
            font-family: avenir-normal;
            font-size: 18px;
        }

        .rectangle {
            width: 5px; /* Width of the vertical rectangle */
            height: 90px; /* Height of the vertical rectangle */
            background-color: #EF8329; /* Color of the vertical rectangle */
            position: absolute; /* Position absolute for precise placement */
            left: 0; /* Position the rectangle on the left side of the card */
            top: 0; /* Position the rectangle at the top of the card */
          }
          

        .feature-desktop{
            padding-top: 30px;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            flex: auto;
            .expandable-cards{
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                flex: auto;
                align-items: center;
                justify-content: center;
                
                .white-button{
                    padding: 20px;
                    font-family: avenir-bold;
                    font-size: 20px;
    
                }
                .feature-card{
                    
                    background-color: #FFA24B36;
                    box-shadow: none;
                    width: 334px;
                    height: 195px;
                    .card-title{
                        font-family: avenir-normal;
                        font-size: 20px;
                    }
                    .card-content{
                        text-align: left;
                        font-family: avenir-normal;
                        font-size: 12px;
                    }
                }
                .close-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: none;
                }
            }
            .feature-image{
                padding-left: 180px;
                //text-align: center;
                .img{
                    border-radius: 22px;
                    width: 143px;
                    height: 320px;
                    padding-bottom: 15px;
                }
                // .background-image {
                //     background-image: url('/assets/features-desktop.svg/');
                //     background-size: cover;
                //     //background-position: center;
                //     position: absolute;
                //     // top: 0;
                //     // left: 0;
                //     right: 30%;
                //     width: 200px;
                //     height: 200px;
                //     z-index: -1;
                //   }
                 
                
                
            }
        }
   
}

.vision{
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 500px;
        padding-right: 500px;
        flex: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .card{
            width: 600px;
            background-color: #FBEFDA;
            flex: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-title{
                align-items: center;
                line-height: 55px;
                text-align: center;
                font-size: 50px;
                font-family: avenir-bold;
            }
            .card-content{
                font-family: avenir-normal;
                text-align: center;
                font-size: 15px;
                line-height: 20px;
            }
        }
}

.team{
    z-index: 9999;
    display: flex;
    flex-direction: row;
    flex: auto;
    background-color: #EF8329;
    align-items: center;
    text-align: center;
    .tag1{
        font-size: 40px;
        text-align: center;
    }
}
.cards{
    background: url("/assets/bg.png") no-repeat #EF8329;
    background-position: right;
    
    display: flex;
    flex-direction: row;
    flex: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    //padding-left: 80px;
    //align-content: center;
    justify-content: center;
    .binoy{
        padding-bottom: 15px;
        width: 276px;
        height: 390px;
        align-items: center;
        .img1{
            border-radius: 100px;
        }
        .content{
            .click1{
                display: flex;
                flex: auto;
                flex-direction: row;
            }
            display: flex;
            flex-direction: column;
            flex: auto;
            align-items: center;
        }
    }

    .sarrah{
        padding-bottom: 15px;
        width: 276px;
        height: 390px;
        align-items: center;
        .img2{
            border-radius: 100px;
        }
        .content1{
            .click1{
                display: flex;
                flex: auto;
                flex-direction: row;
            }
            display: flex;
            flex-direction: column;
            flex: auto;
            align-items: center;
        }
    }

    .aditya{
        padding-bottom: 15px;
        width: 276px;
        height: 390px;
        align-items: center;
        .img3{
            border-radius: 100px;
        }
        .content2{
            .click2{
                display: flex;
                flex: auto;
                flex-direction: row;
            }
            display: flex;
            flex-direction: column;
            flex: auto;
            align-items: center;
        }
    }
}

.info{
    justify-content: center;
    display: flex;
    flex: auto;
    flex-direction: row;
    background-color: #2B2929;
    .col1{
        margin-left: 50px;
        flex: auto;
        flex-direction: column;
        .company{
            color: #EAECF0;
            font-family: avenir-bold;
        }
        .desc{
            color:#EAECF0;
            font-family: avenir-normal;
        }
    }
    .col2{
        flex: auto;
        display: flex;
        flex-direction: column;
        padding: 100px;
        justify-content: center;
    }
    
    .col3{
        
        align-items: center;
        justify-content: center;
        flex: auto;
        flex-direction: column;
        display: flex;
        .socials{
            height: 0px;
            display: flex;
            flex: auto;
            flex-direction: row;
            .ig{
                margin: 10px;
                
            }
            .li{
                margin:10px;
                
            }
            .mail{
                
                padding-top: 2.5px;
                margin: 10px;
            }
        }
        .privacy{
            align-items: center;
            margin-top: 10px;
            flex: auto;
            flex-direction: column;
            display: flex;
            color: #EAECF0;
            
        }
    }
}
.info1{
    display: none;
}



@media screen and (max-width: 768px) {
    .header .top {
        overflow-x: hidden;
      margin-left: 0;
      padding: 0;
      padding-top: 10px;
      flex-direction: column;
      align-items: center;
      
    }
  
    .header .top .company {
      align-items: center;
      font-size: 20px;
    }
  
    .header .top .buttons {
        display:flex;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }

    .start-img-mobile{
        display: flex;
        flex-direction: column;
        flex: auto;
        align-items: center;
        .img{
            
            // text-align: center;
            width: 200px;
            height: 320px;
        }
    }

    .intro{
        overflow-x: hidden;
        padding-left: 0;
        br{
            display: none;
        }
        align-items: center;
        .tagline1{
            font-size: 15px;
            justify-content: center;

        }
        .tagline2{
            text-align: center;
            max-width:80%;
            font-size: 15px;
            justify-content: center;
        }
        
        .tagline3{
            text-align: center;
            font-size: 15px;
        }
        .tagline4{
            padding-right: 0;
            align-content: center;
            max-width: 80%;
            padding-left: 0;
            font-size: 15px;
            justify-content: center;
        }
    }

    .hiw{
        background-size: 60%;
        overflow-x: hidden;
        .hiw1{
            font-size: 20px;
        }
        .images-hiw{
            display: none;         

        }
        .mobile-hiw{
            display: flex;
            flex-direction: column;
            flex: auto;
            padding-bottom: 40px;
            .hiw-container{
                .byosn-img{
                    padding: 20px;
                    text-align: center;
                    z-index: 2;
                    position: relative;
                    bottom: 30%;
                }
                .byosn-card{
                    flex: auto;
                    flex-direction: column;
                    display: flex;
                    
                    .byosn{
                        width: 334px;
                        height: 195px;
                        background-color: #FFECE1;
                        align-items: center;
                        .card-title{
                            color: #EF8329;
                            font-family: avenir-bold;
                            font-size: 14px;
                            
                        }
                        .card-content{
                            text-align: center;
                            font-family: avenir-normal;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    .features{
        display: none;
        // background-image: url("/assets/hiwback.png") ;
        // background-repeat: no-repeat;
        // background-position: right;
        // background-size: 20%;
        
        // overflow-x: hidden;
        // padding-bottom: 50px;
        // .ftagline1{
        //     font-size: 20px;
        // }
        // .ftagline2{
        //     font-size: 13px;
        //     padding-top: 0;
        // }
        // .expandable-panels{
        //     height: 50%;
        //     width: 90%;
        //     .panel1{
        //         padding-top: 0;
        //         padding-bottom: 0;
        //         .exp1{
                   
        //             flex-direction: column;
        //             .descexp1{
        //                 font-size: 10px;
        //             }
        //             .imgexp1{
        //                 margin-left: 25%;
        //                 justify-content: center;
        //             }
        //         }

        //     }

        //     .panel2{
        //         padding-top: 0;
        //         padding-bottom: 0;
        //         .exp2{
        //             flex-direction: column;
        //             .descexp2{
        //                 font-size: 10px;
        //             }
        //             .imgexp2{
        //                 margin-left: 25%;
        //                 justify-content: center;
        //             }
        //         }

        //     }

        //     .panel3{
        //         padding-top: 0;
        //         padding-bottom: 0;
        //         .exp3{
        //             flex-direction: column;
        //             .descexp3{
        //                 font-size: 10px;
        //             }
        //             .imgexp3{
        //                 margin-left: 25%;
        //                 justify-content: center;
        //             }
        //         }

        //     }
        //     .panel4{
        //         padding-top: 0;
        //         padding-bottom: 0;
        //         .exp4{
        //             flex-direction: column;
        //             .descexp4{
        //                 font-size: 10px;
        //             }
        //             .imgexp4{
        //                 margin-left: 25%;
        //                 justify-content: center;
        //             }
        //         }

        //     }
        // }


    }
    .mobile-features{
        display: flex;
        flex-direction: column;
        flex: auto;
        //background-image: url('/assets/features-mobile.svg');
        .fmtagline1{
            font-size: 20px;
            font-family: avenir-bold;
            text-align: center;
            color: #EF8329;
            
        }
        .fmtagline2{
            text-align: center;
            font-family: avenir-normal;
            font-size: 15px;
        }

        .rectangle {
            width: 5px; /* Width of the vertical rectangle */
            height: 90px; /* Height of the vertical rectangle */
            background-color: #EF8329; /* Color of the vertical rectangle */
            position: absolute; /* Position absolute for precise placement */
            left: 0; /* Position the rectangle on the left side of the card */
            top: 0; /* Position the rectangle at the top of the card */
          }
          

        .expandable-cards{
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            flex: auto;
            align-items: center;
            justify-content: center;
            .feature-image{
                text-align: center;
                .img{
                    border-radius: 22px;
                    width: 143px;
                    height: 320px;
                    padding-bottom: 15px;
                }
                .background-image {
                    background-image: url('/assets/features-mobile.svg/');
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    // top: 0;
                    // left: 0;
                    left: 15%;
                    width: 300px;
                    height: 300px;
                    z-index: -1;
                  }
                
                
            }
            .white-button{
                font-family: avenir-bold;
                font-size: 13px;

            }
            .feature-card{
                
                background-color: #FFA24B36;
                box-shadow: none;
                width: 334px;
                height: 195px;
                .card-title{
                    font-family: avenir-normal;
                    font-size: 13px;
                }
                .card-content{
                    font-family: avenir-normal;
                    font-size: 10px;
                }
            }
        }
    }
    .vision{
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        flex: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .card{
            width: 300px;
            background-color: #FBEFDA;
            flex: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-title{
                line-height: 27.5px;
                text-align: center;
                font-size: 25px;
                font-family: avenir-bold;
            }
            .card-content{
                font-family: avenir-normal;
                text-align: center;
                font-size: 10px;
            }
        }
    }

    .team{
        font-size: 20px;
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
        // background-image: url("/safestone-main/src/assets/vector-teams.png");
    }
    .cards{
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;

    }
    .info {
        overflow-x: hidden;
      display: none;
    }
    .info1{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2B2929;
        .col1{
            display: flex;

            color: #EAECF0;
            flex-direction: column;
            align-items: center;
            .company{
                font-family: avenir-bold;
                color: #EAECF0;
            }
        }
        .col3{
            display: flex;
            flex: auto;
            flex-direction: column;
            align-items: center;
            .socials{
                display: flex;
                flex: auto;
                flex-direction: row;
                margin: 10px;
                .ig{
                    margin: 10px;
                }
                .li{
                    margin: 10px;
                }
                .mail{
                    margin: 10px;
                    padding-top: 2.5px;
                }
            }
            .privacy{
                color: #EAECF0;
                display: flex;
                flex: auto;
                flex-direction: column;
                text-align: center;
            }

        }

    }
  }